<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 使用 CDN 加载 Vue -->
    <script src="./js/vue.js"></script>
</head>
<body>
    <!-- 挂载点，实例，模版 -->
    <div id="app"><h1>{{number}} {{ message }}</h1>
        <h1 v-html="number"></h1>
        <div v-html="content"></div>
        <div @click="handClick"><h1>{{text}}</h1></div><!--v-on: = @ -->
        <div v-bind:title="title"><h2>hello world</h2></div><!-- v-bind =:  属性绑定将title标签和title属性绑定-->
        <input v-model="content2"/><!-- v-model双向绑定 -->
        <div><h2>{{content2}}</h2></div>
        姓：<input v-model="firstname"> 
        名：<input v-model="lastname">
        <div>姓名为：{{fullname}}</div>
        <div>{{count}}</div>
    </div><!--{{}}插值表达式-->
    
    <script>
        new Vue({
            el: "#app",
            data: {
                message: "world",
                number:"hello",
                content:"<h1>hello 123</h1>",
                text:"点击",
                title:"this is hello world",
                content2:"this is contet2",
                firstname:"",
                lastname:"",
                count:0
            },
            methods: {
                handClick:function(){
                    this.text="world"
                }
            },
            computed:{//计算属性
                fullname:function(){
                    return this.firstname+' '+this.lastname
                }
            },
            watch:{//侦听器
                fullname:function(){
                    this.count++
                }
            } 
        });
    </script>
</body>
</html>