<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList功能开发</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue" @keyup.enter="button">
            <button @click="button">提交</button>
        </div>
        <ul>
            <li v-for="(item,index) of list" :key="index" @click="listdelete">{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el:"#root",
            data:{
                inputValue:"",
                list:[]
            },
            methods:{
                button:function(){
                    if(this.inputValue.trim()!=""){
                        this.list.unshift(this.inputValue)//添加到列表末尾用push，添加到列表开头用unshift
                        this.inputValue=' '
                    }else{  alert("不能为空")}
                },
                listdelete:function(key){
                    this.list.splice(key,1)
                }
            }
        })
    </script>
</body>
</html>