<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TodoList组件拆分</title>
    <script src="./js/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>
            <input v-model="inputValue">
            <button @click="button">提交</button>
        </div>
        <ul><!--定义一个con的组件用来接收item-->
            <todo-item v-for="(item,index) of list" :key="index" :con="item"
            :index="index" @delete="handledelete"
            ></todo-item>
        </ul>
    </div>
    <script>
        //全局组件定义
        // Vue.component('todo-item',{
        //     template:'<li>{{con}}</li>',
        //     props:['con']
        // })
        //局部组件定义,局部组件不能直接调用，需要在vue实例中的components中声明
        var todoItem={//每一个组件都相当于是一个实例
            template:'<li @click="handleClick">{{con}}</li>',
            props:['con',"index"],//用props来接受定义的组件
            methods:{
                handleClick:function(){
                    this.$emit('delete',this.index)
                }
            }
        }
        new Vue({//这是一个实例
            el:"#root",
            components:{//声明一个局部组件
                'todo-item':todoItem 
            },
            data:{
                inputValue:" ",
                list:[]
            },
            methods:{
                button:function(){
                    this.list.push(this.inputValue)
                    this.inputValue=' '
                },
                handledelete:function(index){
                    this.list.splice(index,1)
                }
            }
        })
    </script>
</body>
</html>