<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <script src="js/vue.js"></script>
</head>
<body>
    <div id="app">
        账户：<input type="text" v-model="username"><br><br>
        密码：<input type="password" v-model="password"><br><br>
        <button>登录</button>
        <button @cilck="reset">重置</button>
    </div>
    <script>
        const app = new Vue({
            el:"#app",
            data:{
                username:"",
                password:""
            },
            method:{
                reset(){
                    this.username = "";
                    this.password = "";
                }
            }

        })
    </script>
</body>
</html>